$background-color: snow;
$teal-color: teal;

#separator {
  border-left: 1px dotted #666666;
  //min-height: 90vh;
  padding-left: 9px;
}

.fname, .lname, .company, .registered {
  width: 20%;
}

.age, .status {
  width: 10%;
}

.theader{
  display: flex;
  font-weight: bold;
  font-size: 1.124em;
  color: $teal-color;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tbody{
  border-top: 1px dotted #555555;
  display: flex;
  font-size: .963em;
  padding: 5px;
}


.arrows{
  cursor: pointer;
  padding: 1px;
  margin: 1px;
  font-weight: bolder;
  color:$background-color;
  background-color: $teal-color;
  border-radius: 49%;
}

input[type=text] {
  width: 69%;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 5px;
}
