<section *ngIf="userList$ | async as users " id="separator">
  <div style="flex-direction: row;">
    <div class="theader">
      <div class="fname">First Name</div>
      <div class="lname">Last Name</div>
      <div class="age">Age</div>
      <div class="status">Status</div>
      <div class="registered">Registered</div>
      <div class="company">Company</div>
    </div>
  </div>
  <ng-container *ngFor="let user of users">
    <div style="flex-direction: row;">
      <div class="tbody">
        <div class="fname">{{user.name.first}}</div>
        <div class="lname">{{user.name.last}}</div>
        <div class="age">{{user.age}}</div>
        <div class="status">{{user.isActive}}</div>
        <div class="registered">{{user.registered | date}}</div>
        <div class="company">{{user.company}}</div>
      </div>
    </div>
  </ng-container>
</section>
