@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$background-color: snow;
$teal-color: teal;

body {
  background-color: $background-color;
  font-family: 'Montserrat', sans-serif;
}
header {
  padding: 9px;
  font-weight: bolder;
  font-size: 1.123em;
  color:$background-color;
  background-color: $teal-color;
  border-bottom: 1px solid $teal-color ;
  text-align: end;
}

.e-body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.e-main{
  flex: 1;
}

.e-footer{
  display: flex;
  padding: 5px;
  font-size: .6969em;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  color:$background-color;
  background-color: $teal-color;
}
